// Цвета
$input-gray: #F3F5F9;
$black: #333333;
$trueblack: #000000;
$white: #fff;
$light-red: #FD4E7C;
$pink: #FEA3B9;
$dark-pink: #FD517E;
$gray: #818181;
$cards-gray: #FBFBFC;
$review-gray: #7C8597;
$pag-gray: #DBDCE5;
$pag-font-gray: #BDBDBD;
$mid-section: #B3B4BB;

// Шрифты
$monts : "Montserrat";
$inter : "Inter";

// Жирность шрифтов

$weight800: 800;
$weight700: 700;
$weight600: 600;
$weight500: 500;
$weight400: 400;
$weight200: 200;

// Размер шрифта
$font10: 10px;
$font12: 12px;
$font13: 13px;
$font14: 14px;
$font16: 16px;
$font17: 17px;
$font18: 18px;
$font20: 20px;
$font24: 24px;
$font28: 28px;
$font32: 32px;
$font34: 34px;
$font40: 40px;
$font30: 30px;
$font50: 50px;
$font200: 200px;

// Высоты строк
$line10: 10px;
$line12: 12px;
$line14: 14px;
$line16: 16px;
$line17: 17px;
$line18: 18px;
$line19: 19px;
$line20: 20px;
$line22: 22px;
$line24: 24px;
$line28: 28px;
$line30: 30px;
$line32: 32px;
$line34: 34px;
$line40: 40px;
$line50: 50px;